:host {
  // style at Host Element
}

.header {
  background-color: ghostwhite;
  nav {
    display: flex;
    a {
      color: #1890ff;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      &:hover {
        opacity: .85;
        text-decoration: underline;
      }
    }
  }
}