/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo', -apple-system,BlinkMacSystemFont,"Segoe UI", 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #343a40;
}
